/* You can add global styles to this file, and also import other style files */

:root {
    --color-seance: #812990;
}

.text-seance {
    color: var(--color-seance) !important;
}

.text-wisteria {
    color: #8e7cc3 !important;
}

.text-olivine {
    color: #93c47d !important;
}

.text-sunglo {
    color: #e06666 !important;
}

.card-wisteria {
    background-color: #8e7cc333 !important;
    color: #8e7cc3 !important;
}

.card-olivine {
    background-color: #93c47d33 !important;
    color: #93c47d !important;
}

.card-sunglo {
    background-color: #e0666633 !important;
    color: #e06666 !important;
}

.card-hibiscus {
    background-color: #b4375733 !important;
    color: #b43757 !important;

}

.card-gulf-stream {
    background-color: #76a5af33 !important;
    color: #76a5af !important;
}

.card-rajah {
    background-color: #f6b26b33 !important;
    color: #f6b26b !important;
}

.card-mauve {
    background-color: #784b8433 !important;
    color: #784b84 !important;
}

.card-danube {
    background-color: #6fa8dc33 !important;
    color: #6fa8dc !important;
}

/* dt-row */
.dt-row {
    min-height: 50vh !important;
}

.page-link {
    margin-left: .5rem !important;
    font-size: 0.875rem !important;
}

.bg-light-cyan {
    background-color: #7FFFD4 !important;
}

.bg-mustard-yellow {
    background-color: #FFDB58 !important;
}

.bg-mint-green {
    background-color: #98FB98 !important;
}

.bg-teal {
    background-color: #008080 !important;
}

.bg-bronze {
    background-color: #CD7F32 !important;
}

.bg-dark-salmon {
    background-color: #E9967A !important;
}

.bg-slate-gray {
    background-color: #708090 !important;
}

.bg-indigo {
    background-color: #4B0082 !important;
}

.bg-olive-green {
    background-color: #808000 !important;
}

.bg-strikemaster {
    background-color: #A064A0 !important;
}

.bg-seagull {
    background-color: #87CEEB !important;
}

.bg-mauve {
    background-color: #784b84 !important;
}

.bg-hibiscus {
    background-color: #b43757 !important;
}

.bg-dusty-gray {
    background-color: #999999 !important;
}

.bg-danube {
    background-color: #6fa8dc !important;
}

.bg-gulf-stream {
    background-color: #76a5af !important;
}

.bg-olivine {
    background-color: #93c47d !important;
}

.bg-wisteria {
    background-color: #8e7cc3 !important;
}

.bg-viola {
    background-color: #c27ba0 !important;
}

.bg-sunglo {
    background-color: #e06666 !important;
}

.bg-rajah {
    background-color: #f6b26b !important;
}

.min-height-75vh {
    min-height: 75vh !important;
}